.sampleTable {
  width: 100%;
}

.sampleTable td div {
  text-align: center;
  margin: 5px;
  font-size: 75%;
}

.channel0 {
  background-color: #71e9f4;
  color: #000;
}

.channel1 {
  background-color: #f4e971;
  color: #000;
}

.box {
  display: inline-block;
  padding: 10px !important;
  border: solid 3px #ccc !important;
  margin: 10px !important;
}