html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 6em;
}
	
body {
  overflow: hidden;
  font-family: Helvetica, Arial, Sans-Serif;
}

p {

}

p.smaller {
	font-size: 70%;
}

.content {
	display: none;
	visibility: hidden;
}
