body{
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	text-align: center;
	background: #222;
}

#main{
	width: 700px;
	text-align: left;
	margin: auto;
	background: #fff;
	border: solid 5px #999;
	padding: 20px;
}

div.sequence input {
	margin: 5px;
}

div.sequence input.fourth {
	margin-right: 15px;
}

div.sequence span {
	margin-right: 10px;
}

div.sequence div.alt {
	background: #ddd;
}